In [55]:
import modin.pandas as pd

## Actual Data

In [56]:
training_data = pd.read_csv('/home/alex/Projects/DataSci/SampleData/Titanic/train.csv')

In [57]:
#get a percentage of surviors by gender and class
survivors = training_data.groupby(['Pclass', 'Sex'])['Survived'].mean()
survivors.name = 'Survival Rate'
survivors_by_class = survivors.reset_index()

In [58]:
survivors_by_class_and_sex = survivors_by_class.pivot(index='Pclass', columns='Sex', values='Survival Rate').reset_index()
survivors_by_class_and_sex.columns = ['Pclass', 'Female Survival Rate', 'Male Survival Rate']

In [59]:
#write survirors to a parquet file
survivors_by_class.to_parquet('/home/alex/Projects/DataSci/SampleData/Datalake/Titanic_Survivors_Lake/Survivors_By_Class.parquet')

In [60]:
survivors_by_class_and_sex.to_parquet('/home/alex/Projects/DataSci/SampleData/Datalake/Titanic_Survivors_Lake/survivors_by_class_and_sex.parquet')

## Prdictions

In [76]:
predictions = pd.read_parquet('/home/alex/Projects/DataSci/SampleData/Datalake/Titanic_Survivors_Lake/titanic_Tpot_predictions.parquet')

In [77]:
predictions.head()

   PassengerId  Pclass  sex  Survived
0          892       3    0         0
1          893       3    1         0
2          894       2    0         0
3          895       3    0         0
4          896       3    1         1

In [78]:
#change the vales for sex to m and f where m = 0 and f = 1
predictions['sex'].replace([0,1],['m','f'],inplace=True)

In [79]:
predictions.head()

   PassengerId  Pclass sex  Survived
0          892       3   m         0
1          893       3   f         0
2          894       2   m         0
3          895       3   m         0
4          896       3   f         1

In [80]:
#get a percentage of surviors by gender and class
predicted_survivors = predictions.groupby(['Pclass', 'sex'])['Survived'].mean()
predicted_survivors.name = 'Survival Rate'
predicted_survivors_by_class = predicted_survivors.reset_index()

In [81]:
predicted_survivors_by_class_and_sex = predicted_survivors_by_class.pivot(index='Pclass', columns='sex', values='Survival Rate').reset_index()
predicted_survivors_by_class_and_sex.columns = ['Pclass', 'Female Survival Rate', 'Male Survival Rate']

In [82]:
predicted_survivors_by_class_and_sex.head()

   Pclass  Female Survival Rate  Male Survival Rate
0       1              1.000000            0.087719
1       2              1.000000            0.031746
2       3              0.416667            0.054795

In [83]:
predicted_survivors_by_class_and_sex.to_parquet('/home/alex/Projects/DataSci/SampleData/Datalake/Titanic_Survivors_Lake/predicted_survivors_by_class_and_sex.parquet')